<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  href="../public/landing.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    
</head>
<body>
<div class="start">
    
    <header>
      <nav class="sec-1">
        <div class="p-1">
          <!--  <a href="../index"><i class="fa fa-book"></i></a>-->
          <a href="../index">
            <h3>BOOK<span>STORE</span></h3>
          </a>
        </div>
        <div class="p-2">
          <ul>
            <a href="../index">
              <li>Home</li>
            </a>
            <a href="../shop">
              <li>Shop</li>
            </a>
            <a href="../order">
              <li>Order</li>
            </a>
            <a href="../feedback">
              <li>Feedback</li>
            </a>
          </ul>
        </div>
        <div class="p-3">
           
         <!-- <a href="#" id="heart"><i class="fa fa-heart"></i></a>-->
         <select id="user_dropdown" name="SELECT" onchange="redirectToLogin()">
            <option value="Select">Select</option>
            <option value="User">User</option>
            <option value="Admin">Admin</option>
           </select>
         <a href="#"><i class="fa fa-user"></i></a>
          
           
         <a href="../cart"><i class="fa fa-shopping-cart"></i></a>
        </div>
      </nav>
    </header>
    </div>
 </body>
 <script>
        // Function to handle the dropdown change event
        function redirectToLogin() {
            var dropdown = document.getElementById("user_dropdown");
            var selectedOption = dropdown.options[dropdown.selectedIndex].value;
            
            // Check which option is selected and redirect accordingly
            if (selectedOption === "User") {
                window.location.href = "../user_login"; // Redirect to user login page
            } else if (selectedOption === "Admin") {
                window.location.href = "../admin_login"; // Redirect to admin login page
            }
        }
    </script>
</html>














